@import url('https://fonts.googleapis.com/css?family=Orbitron:700,900');
@import
url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
body {
  color: #666;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: #888;
}
#banner {
  background-color: #722872;
  height: 100px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: fixed;
  left:0px;
  right:0px;
}
.nav {
  text-decoration: none;
  color:#bbb;
  font-weight: bold;
  font-size: 15px;
  margin-top: 25px;
  text-align:center;
  float: right;
  display: flex;
  justify-content:space-around;
}
.navlink {
  text-decoration: none;
  color:#666;
  height: 50px;
  box-width: 70px;
  letter-spacing: 2px;
}
.nav:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navlink:active .nav {
  background-color: #f2f2f2;
  color: #666;
}
.container {
  width: 95%;
  max-width: 1024px;
  display: block;

}
#aboutMe {
  background-color: #bbb;
  display: flex;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.info {
  padding-top: 50px;
  padding-right: 40px;
  text-align: center;
}
#portfolio {
  background-color: #eee;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  color: #838280;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: #bbb;
}
.pfimg {
  max-width: 400px;
  padding: 10px;
}
#contact {
  background-color: #eee;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #838280;
  height: 800px;
}
form {
  text-align: left;
  float: left;
  padding-left: 100px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  background-color: #eee;
}

.formElement {
  font-size: 1.5em;
  background: none;
  border: 0;

}
.formElement:focus {
      outline:0
    }
textarea {
  resize: none;
}
.contactinfo {
  padding-top: 100px;
  width: 400px;
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: #666;
}
#footer-top {
  background-color: #bbb;
  height: 200px;
  color: #fff;
}
#footer-bottom {
  background-color: #722872;
  height: 50px;
  text-align: center;
}
.button {
  color: #fff;
  border:solid 2px #fff;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
  line-height:45px;
  transition:all .3s ease-in-out;
  padding-top: 12px;

}
.button:hover {
    border:solid 2px #fff;
    color:#722872;
    background: #fff;
  }
