@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background-color: #142e47;
}

#container {
  text-align: center;
  font-family: 'Roboto';
  font-size: 55px;
  padding-top: 200px;
  color: #f7f1ea;
}

.temp {
  font-size: 25px;
  padding: 10px;
}

button {
  text-align: center;
  color: #142e47;
  border: none;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  background-color: #f7f1ea;
  font-size: 15px;
  font-weight: bold;
}
